#buttonBox {
  position: fixed;
  top: 300px;
}
#previous, #next {
  background-color: pink;
}

#indices{
  display: inline-block;
  position: fixed;
  top:250px;
}

h1 {
  text-align: center;
  font-family: fantasy;
  text-decoration: underline;
}

td {
  border: 1px solid black;
  height: 25px;
  width: 25px;
}

body {
  background-color: cyan;
  color: purple;
  font-family: fantasy;
}


/*#div1 {
    position: fixed;
    top: 250px;
    margin: 5px;
    border: 2px solid black;
    height:25px;
    width: 25px;
}
#div2 {
    display:inline-table;
    top: 250px;
    margin: 5px;
    border: 2px solid black;
    height:25px;
    width: 25px;
  }
  #div3 {
      display:inline-table;
      top: 250px;
      margin: 5px;
      border: 2px solid black;
      height:25px;
      width: 25px;*/
